@use "../scss/base/base" as base;
@use "../scss/base/rest" as reset;
@use "../scss/mixin/breakpoint" as break;
@use "../scss/module/header" as header;
@use "../scss/mixin/fontdata" as f;

.Topimageconteiner {
  width: 100%;
  overflow: hidden;
}
.Topimage {
  width: 100%;
}
.Mainprimary {
  background-color: #fffeef;
  .Moroccanfoods {
    &_headtext {
      font-size: 45px;
      font-family: Georgia, serif;
      text-align: center;
      color: black;
      margin: 20px 0px 20px 0px;
      opacity: 0;
    }
    &_conteiner {
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    &_box {
      position: relative;
    }
    &_tagine {
      font-size: 50px;
      font-family: f.$Dancing;
      color: white;
      text-align: center;
    }
    .jsanimation {
      opacity: 0;
    }
    .jsanimationsecond {
      opacity: 0;
    }
    &_textconteiner {
      width: 400px;
      height: 400px;
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    &_button {
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
      border: 1px solid rgba($color: #ffffff, $alpha: 1);
      border-radius: 25px;
      background-color: transparent;
      color: white;
    }
  }
  .Moroccanfoods_centrarimage {
    margin: 50px 0px 50px 0px;
  }
  .listbox {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    &_imagebox {
      position: relative;
      margin: 15px;
      overflow: hidden;
    }
    &_text {
      color: rgb(255, 255, 255);
      font-family: Georgia, serif;
      font-size: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  .Menubox {
    border-bottom: 25px solid #5e482c;
    color: white;
    &_conteiner {
      background-image: url(../image/jpg/backgroundimage.jpg);
      background-size: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &_content {
      margin-top: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
    }
    &_heddingtext {
      font-family: Jubilat;
      text-align: center;
      font-size: 69px;
      padding-top: 50px;
    }
    &_name {
      font-family: Georgia, serif;
      font-size: 50px;
    }
    &_namebox {
      text-align: center;
    }
    &_button {
      width: 250px;
      height: 25px;
      cursor: pointer;
      margin-top: 10px;
      border: 1px solid rgba($color: #ffffff, $alpha: 1);
      border-radius: 25px;
      background-color: transparent;
      color: white;
    }
    .image {
      width: 500px;
      height: 500px;
    }
  }
  .Menu {
    display: flex;
    justify-content: center;
    &_image {
      width: 80%;
      height: 80%;
    }
    &_box {
      width: 50%;
      height: 50%;
      text-align: center;
      margin-top: 25px;
    }
    &_family {
      font-family: Georgia, serif;
    }
    &_textbox {
      padding: 0 50px;
      padding-top: 60px;
      width: 480px;
      margin: 0 auto;
      text-align: center;
    }
    &_secondheaddingtext {
      padding-top: 60px;
      text-align: left;
      border-bottom: 1px solid black;
    }
    &_minitext {
      line-height: 40px;
      text-align: left;
      border-bottom: 1px solid black;
    }
    .Headimage {
      width: 100%;
      height: 100%;
    }
  }
}
.Thirdbox {
  &_conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_image {
    width: 20%;
  }
  &_headtext {
    width: 30%;
    text-align: center;
  }
  &_Pbox {
    width: 50%;
    text-align: left;
    margin-left: 50px;
  }
}
.footer {
  width: 100%;
  height: 30px;
  background-color: #816642;
}
.box {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
