@use "../scss/base/base" as base;
@use "../scss/base/rest" as reset;
@use "../scss/mixin/breakpoint" as break;
@use "../scss/module/header" as header;
@use "../scss/mixin/fontdata" as f;

.Topimageconteiner {
  width: 100%;
  height: 800px;
  overflow: hidden;
}
.Mainprimary {
  .Moroccanfoods {
    &_headtext {
      font-size: 45px;
      font-family: f.$Noteworthy;
      text-align: center;
      margin: 20px 0px 20px 0px;
      opacity: 0;
    }
  }
}
