main {
  display: block;
}
img {
  vertical-align: bottom;
  bottom: none;
  width: 100%;
  height: auto;
}
ul,
ol {
  list-style-type: none;
}
video,
object {
  max-width: 100%;
  height: auto;
  display: block;
}
