@use "../mixin/fontdata" as f;
@use "../mixin/breakpoint" as break;
.Header {
  width: 100%;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 30%);
  @include break.breakpoint(tablet) {
    display: none;
  }
  &_Nav {
    width: 100%;
    height: 50px;
    background-color: #fffeef;
  }
  &_Ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: f.$font-size-base;
    font-family: f.$jubilat;
  }
  &_Li {
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease;
    &:hover {
      color: red;
      transition: all 0.3s ease;
      transform: scale(1.4);
      transform-origin: center center;
    }
  }
  &_Logo {
    margin-right: auto;
  }
  .logo {
    width: 100px;
    height: 50px;
    padding: 5px;
  }
}
